@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
:root {
  font-size:1rem;
  line-height: 1.6;
  word-spacing: 3px;
}
* {
  padding: 0;
  margin: 0;
  font-family: Public Sans;
  box-sizing: border-box;
  font-weight: 400;
}

.navbar{
 
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;

}
.logo img{
  height: 20px;
  margin-left: 35%;

}
.icon{
  display: flex;
color: rgb(49,48,71);
font-weight: bolder;
  align-items: center;
  font-size: xx-large;
}
.basicdet{
  display:flex;
  color: rgb(162,163,168);
  justify-content: space-between;
  align-items: center;
  

}
.basicdet div{
padding: 20px;
cursor: pointer;
}
.name:hover,
.about:hover,
.Contact:hover,
.blog:hover,
.career:hover {
    border-bottom: 4px solid transparent; /* Set a transparent border */
    
    border-image: linear-gradient(to right, rgb(94, 206, 129), rgb(64, 186, 200)) 1; /* Set the border image */
    transition: border-image 0.3s; /* Optional: Add transition for smoother effect */
}

.request{
 
  color: rgb(162,163,168);

  background: linear-gradient(to right,rgb(94,206,129),rgb(64,186,200));

  height: 40px;
  width: 10vw;
 
  text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 20px;
}
.request:hover{
  background: linear-gradient(to right,rgb(94,206,129),rgb(64,186,200));
  color: #F2FDF5;
 cursor: pointer;
}

.mob{
  background-image: url('./images/bg-intro-desktop.svg');
  background-repeat: no-repeat;

 background-size: cover;
  background-position-x: left;
  position: relative;
overflow-x: hidden;
  overflow-y: hidden;
  zoom: 1;
  z-index: 1;
  margin-left: -45%;
  
}
.mob img{
  margin-top: -20%;
  margin-right: -20%;
overflow: hidden;
position: relative;
object-position: right;
clip-path: inset(0 100px 0 0); 
zoom: 1.1;
}

.front{
  display: flex;
  justify-content: space-between;
 
}

.card{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  
}
.heading{
 text-align: left;
  margin-left: 14%;
  margin-top:-18%;
  margin-right: 45%;
 color: rgb(51,51,76);
  font-size: 55px;
  font-weight: lighter;
}
.info{
 
  padding-top: 3%;
text-align: left;
margin-left: 14.5%;
margin-right: 50%;
  font-size: 20px;
  
  color: rgb(155,154,159);
  padding-bottom: 3%;
}

.reqbutton{
  color: rgb(155,154,159);
  margin-left: 14.5%;
align-self: flex-start;
  background: linear-gradient(to right,rgb(94,206,129),rgb(64,186,200));

  height: 40px;
  width: 10vw;
 margin-top: 2%;
  text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 20px;

}
.reqbutton:hover{
  background: linear-gradient(to right,rgb(94,206,129),rgb(64,186,200));
  color: #F2FDF5;

  cursor: pointer;
}

.second{
  display: flex;
  flex-direction: column;
  margin-top: -10%;
  background-color: rgb(244,245,247);
  position: relative;
  z-index: -1;
  margin-left: 20%;
margin-bottom: 5%;
}
.why{
  margin-top: 6%;
margin-left: 12.5%;
font-weight: lighter;
font-size:40px;
}

.answer{
  
  padding-top: 3%;
text-align: left;
margin-left: 12.56%;
margin-right: 40%;
  color: rgb(155,154,159);
  padding-bottom: 3%;
  font-size: 20px;
}
.features{
  margin-left: 7%;
  padding-top: 3%;
  display: flex;
  
  padding-bottom: 25px;
 margin-bottom: 5%;
}

.features img{
  padding-bottom: 10%;
}
.online{
  margin-left: 6%;
}
.simple{
  margin-left: 5%;
}
.faston{
  margin-left: 5%;
}
.open{
  margin-left: 5%;
}
.onlinehead{
  font-size: 25px;
  font-weight: lighter;
}
.budgeting{
  font-size: 25px;
  font-weight: lighter;
}
.fast{
  font-size: 25px;
  font-weight: lighter;
}
.api{
  font-size: 25px;
  font-weight: lighter;
}
.onlinecontent{
  padding-top: 10px;
  
  word-spacing: 5px;
  width: 200px;
  font-size:15px;
  color: rgb(155,154,159);
} .fastcontent {
  padding-top: 10px;
  
  word-spacing: 5px;
  width: 200px;
  font-size:15px;
  color: rgb(155,154,159);
}.simplecontent {
  padding-top: 10px;
  
  word-spacing: 5px;
  font-size:15px;
  width: 200px;
  color: rgb(155,154,159);
}
.apicontent{
  word-spacing: 5px;padding-top: 10px;

  width: 200px;
  font-size:15px;
  color: rgb(155,154,159);
}
.third{
  display: flex;
  flex-direction: column;
  margin-left:6.5%;
  background-color: #FAFAFA;
  margin-top: -5%;
}
.latest{
  font-size: 40px;
  margin-top: 7%;
}
.article{
  display: flex;
 
  background-color: #FAFAFA;
  margin-top: 5%;
}
.img1 img{
  padding-top: 20%;
  width: 230px;
  height: 250px;
  border-radius: 10%;
  padding-bottom: 20px;
}
.img2 img{
  padding-top: 20%;
  width: 230px;
  height: 250px;
  border-radius: 10%;
  padding-bottom: 20px;
}
.img3 img{
  padding-top: 20%;
  width: 230px;
  height: 250px;
  border-radius: 10%;
  padding-bottom: 20px;
  margin-top: -5px;;
}
.img4 img{
  padding-top: 20%;
  width: 230px;
  height: 250px;
  border-radius: 10%;
  padding-bottom: 20px;
}
.article1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(255,255,255);
  margin-left: 6.5%;
  margin-top: 1.5%;

  
}
.author1{
  color: rgb(155,154,159);
margin-left: 30px;
  padding-bottom:10px;
  font-size: small;
}
.latest{
  margin-bottom: -5%;
  margin-left: 6%;

}
.content1{
  margin: 0 5px 5% 20px;

}
.dropdown{
  display:none;
}
.c1head{
  padding: 4%;
  font-size: large;
}
.c1con{
  color: rgb(155,154,159);
  margin-left: 10px;
}
.article2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 3%;
  margin-top: 3%;
  
}
.author2{
  color: rgb(155,154,159);
margin-left: 30px;
  padding-bottom:10px;
  background-color: rgb(255,255,255);
  font-size: small;
}

.content2{
  margin: 0 5px 5% 20px;

}
.c2head{
  padding: 5%;
  font-size: large;
}
.c2con{
  color: rgb(155,154,159);
  margin-left: 10px;
}
.article3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(255,255,255);
  margin-left: 3%;
  margin-top: 1.5%;
  width: fit-content;
  margin-right: 5%;

}
.author3{
  color: rgb(155,154,159);
margin-left: 30px;
  padding-bottom:10px;
  font-size: small;
 
}
.content3{
  margin: 0 5px 5% 20px;

}
.c3head{
  padding: 5%;
  font-size: large;
}
.c3head:hover{
  color: rgb(119,187,163);
  cursor: pointer;
}
.c1head:hover{
  color: rgb(119,187,163);
  cursor: pointer;
}
.c2head:hover{
  color: rgb(119,187,163);
  cursor: pointer;
}
.c4head:hover{
  color: rgb(119,187,163);
  cursor: pointer;
}
.c3con{
  color: rgb(155,154,159);
  margin-left: 10px;
}
.article4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(255,255,255);

  margin-top: 1.4%;
  width: fit-content;
  margin-right: 38%;
  margin-left: -2.5%;

}
.author4{
  color: rgb(155,154,159);
margin-left: 30px;
  padding-bottom:10px;
  margin-top: 0.5%;
  font-size: small;
}
.content4{
  margin: 0 5px 5% 20px;

}
.c4head{
  padding: 5%;
  font-size: large;
}
.c4con{
  color: rgb(155,154,159);
  margin-left: 10px;
}
.footer{
  margin-top: 10%;
  background: rgb(45,48,78);
  bottom: 0;
  left: 0;
  height:20vh;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.one{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.web{
 display: flex;
 justify-content: space-around;
}
.logfoot img{
  background-color: white;
}
.two{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(163,163,183);
}
.three{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(163,163,183);
}
.four{
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(163,163,183);
  }
  .web svg path:hover {
    cursor: pointer;
    fill: rgb(90,201,138);
}
.req1{
  color: rgb(155,154,159);

  background: linear-gradient(to right,rgb(94,206,129),rgb(64,186,200));

  height: 40px;
  width: 10vw;
 
  text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 20px;
}
.four{
  color: rgb(123,125,147);
}
.req1:hover{
  background: linear-gradient(to right,rgb(94,206,129),rgb(64,186,200));
  color: #F2FDF5;
 cursor: pointer;
}

@media (max-width: 375px) {
  body{
    background-color: violet;
  }
  .request{
    display: none;
  }
.navbar{
  margin: 3%;
background-color: white;
display: flex;
justify-content: space-between;

}
 .basicdet{
  display: none;
 }
 .dropbtn {
 
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: bisque;
  text-align: center;
  margin-top: 180%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
margin-right: 4%;
height: 30vh;
  width: 90vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown.active .dropbtn {
  background-color: #3e8e41;
}
}